<div class="form-group">  
  <%= simple_form_for @citation, authenticity_token: false do |f| %>
    <%= f.input :description %>
    <%= f.input :name %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>
</div>