<div class="container">
  <p>
    <strong>Description:</strong>
    <%= @citation.description %>
  </p>
 
  <p>
    <strong>Said/Written by:</strong>
    <%= @citation.name %>
  </p>
 
  <%= link_to 'Back', citations_path %>
</div>